body{
	//
	margin: 0;
	padding: 0;

	width: 100vw;
	height: 100vh;

	font-family: sans-serif;
	font-size: 11px;
}

header{
	position: fixed;
	display: block;
	width: calc( 100vw - 20px );
	top: 0;
	left: 0;
	padding: 10px;
	background: #222;
	color: #fff;

	label{
		display: inline-block;
		min-width: 100px;
		margin: 0 10px 0 0;
		padding: 3px 5px;

		small{
			margin: 0 0 0 5px;
			color: #999;
		}
	}
}

footer{
	position: fixed;
	display: block;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 10px;
	text-align: center;
	background: #222;
	color: #999;
}

.main{
	display: flex;
	justify-content: center;
	align-items: center;

	background: #111;

	width: 100wv;
	height: 100vh;
}

.drag-container{
	position: relative;

	&[data-orientation=portrait]{
		background: red;
	}
	&[data-orientation=landscape]{
		background: blue;
	}
	&[data-orientation=square]{
		background: yellow;
	}
}

.drag{
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;	
	transition: all .1s ease-in-out;

	-webkit-overflow-scrolling: touch;

	background-size: cover;
	background-repeat: no-repeat;

	span{
		display: block;
		text-align: center;
		pointer-events: none;
	}

	// centers
	&--center-t-l{ background-position: top left; }
	&--center-t-c{ background-position: top center; }
	&--center-t-r{ background-position: top right; }
	&--center-c-l{ background-position: center left; }
	&--center-c-c{ background-position: center center; }
	&--center-c-r{ background-position: center right; }
	&--center-b-l{ background-position: bottom left; }
	&--center-b-c{ background-position: bottom center; }
	&--center-b-r{ background-position: bottom right; }

	// formats
	&--format-9-16{
		width: 100vw;
		height: calc( 100vw * 1.44);
	}
	&--format-2-3{
		width: 100vw;
		height: calc( 100vw * 1.33);
	}
	&--format-3-4{
		width: 100vw;
		height: calc( 100vw * 1.25);
	}
	&--format-4-5{
		width: 100vw;
		height: calc( 100vw * 1.2);
	}
	&--format-4-3{
		width: 100vw;
		height: calc( 100vw * .75);
	}
	&--format-3-2{
		width: 100vw;
		height: calc( 100vw * .66);
	}
	&--format-16-9{
		width: 100vw;
		height: calc( 100vw * .56);
	}
	&--format-5-4{
		width: 100vw;
		height: calc( 100vw * .8);
	}
	&--format-1-1{
		width: 100vw;
		height: 100vw;
	}
}

.rule{
	position: absolute;
	top: 0;
	display: inline-block;
	margin: 0 auto;
	padding: 10px;
	background: rgba(0,0,0,.5);
	color: #fff;
	font-weight: 700;

	label{
		background: #000;
		margin: 0 5px;
		padding: 3px 6px;
	}
}


.clearfix{
	&:after{
		content: '';
		display: table;
		clear: both;
	}
}

.left{
	float: left;
}
.right{
	float: right;
}

.btn{
	margin: 0;
	padding: 5px;
	border: none;
	font-size: 10px;
	line-height: 10px;
	font-weight: 700;
	background: blue;
	color: #fff;
	outline: none;
}

.hello{

	padding: 20px 40px;
	color: #eee;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	background: #111;

	h1{
		width: 100px;
		font-size: 30px;
		line-height: 36px;
	}
	p{
		width: 200px;
		font-size: 14px;
		line-height: 22px;
	}
}


.upload-btn-wrapper {
	position: relative;
	overflow: hidden;
	display: inline-block;
  }
  
  .upload-btn-wrapper input[type=file] {
	font-size: 100px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
  }