@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');

$color_brand: rgb(203, 238, 6);
$color_ui: #f00;
$color_text: #fff;
$color_bg: #111;

body{
	//
	margin: 0;
	padding: 0;

	width: 100vw;
	height: 100vh;

	font-family: 'Muli', sans-serif;
	font-size: 11px;
	line-height: 11px;
}

header{
	position: fixed;
	display: block;
	width: calc( 100vw - 20px );
	top: 0;
	left: 0;
	padding: 10px;
	background: rgba($color_bg,.8);
	color: $color_text;

	label{
		display: inline-block;
		font-weight: 700;
		margin: 0 0px 0 0;
		padding: 3px 5px;
	}

	.orientations{

		position: relative;
		margin: -5px 0 0 10px;
		width: 20px;
		height: 15px;
		background: none;

		span{
			position: absolute;
			font-size: 0;
			width: 4px;
			height: 4px;
			background-color: lighten($color_bg, 40%);
			border-radius: 50%;

			&.active{
				background-color: $color_brand;
			}

			&.orientation__t-l{ top: 0; left: 0; }
			&.orientation__t-c{ top: 0; left: calc(50% - 2px); }
			&.orientation__t-r{ top: 0; right: 0px; }

			&.orientation__c-l{ top: calc(50% - 2px); left: 0; }
			&.orientation__c-c{ top: calc(50% - 2px); left: calc(50% - 2px); }
			&.orientation__c-r{ top: calc(50% - 2px); right: 0px; }

			&.orientation__b-l{ bottom: -1px; left: 0; }
			&.orientation__b-c{ bottom: -1px; left: calc(50% - 2px); }
			&.orientation__b-r{ bottom: -1px; right: 0px; }
		}
	}
	
}

footer{
	position: fixed;
	display: block;
	width: calc( 100% - 20px );
	bottom: 0;
	left: 0;
	padding: 10px;
	text-align: left;
	background: rgba($color_bg,.8);
	color: $color_text;
}

.main{
	display: flex;
	justify-content: center;
	align-items: center;

	background: $color_bg;

	width: 100wv;
	height: 100vh;
}

.drag-container{
	position: relative;

	width: calc(100vw - 100px);
	height: calc( 100vw - 100px );
	@media (orientation: landscape) {
		width: calc(100vh - 100px);
		height: calc( 100vh - 100px );
	}
	

	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;

	&[data-orientation=portrait]{
		//background: red;
	}
	&[data-orientation=landscape]{
		//background: blue;
	}
	&[data-orientation=square]{
		//background: yellow;
	}
}

.drag{
	position: relative;
	margin: 0 auto;
	padding: 0;	
	transition: all .1s ease-in-out;

	-webkit-overflow-scrolling: touch;

	background-size: cover;
	background-repeat: no-repeat;
	background-origin: content-box;

	span{
		display: block;
		text-align: center;
		pointer-events: none;
	}

	// centers
	&--center-t-l{ background-position: left top; }
	&--center-t-c{ background-position: center top; }
	&--center-t-r{ background-position: right top; }
	&--center-c-l{ background-position: left center; }
	&--center-c-c{ background-position: center center; }
	&--center-c-r{ background-position: right center; }
	&--center-b-l{ background-position: left bottom; }
	&--center-b-c{ background-position: center bottom; }
	&--center-b-r{ background-position: right bottom; }

	// formats
	&--format-9-16{
		width: 100%;
		height: calc( 100% * 1.66);
		@media (orientation: landscape) {
			width: calc( 100% * 0.56);
			height: 100%;
		}
	}
	&--format-2-3{
		width: calc( 100% * 0.66);
		height: 100%;
		@media (orientation: landscape) {
			width: calc( 100% * 0.66);
			height: 100%;
		}
	}
	&--format-3-4{
		width: calc( 100% * 0.75);
		height: 100%;
		@media (orientation: landscape) {
			width: calc( 100% * 0.75);
			height: 100%;
		}
	}
	&--format-4-5{
		width: calc( 100% * 0.8);
		height: 100%;
		@media (orientation: landscape) {
			width: calc( 100% * 0.8);
			height: 100%;
		}
	}
	&--format-4-3{
		width: 100%;
		height: calc( 100% * .75);
		@media (orientation: landscape) {
			width: 100%;
			height: calc( 100% * .75);
		}
	}
	&--format-3-2{
		width: 100%;
		height: calc( 100% * .66);
		@media (orientation: landscape) {
			width: 100%;
			height: calc( 100% * .66);
		}
	}
	&--format-16-9{
		width: 100%;
		height: calc( 100% * .56);
		@media (orientation: landscape) {
			width: 100%;
			height: calc( 100% * .56);
		}
	}
	&--format-5-4{
		width: 100%;
		height: calc( 100% * .8);
		@media (orientation: landscape) {
			width: 100%;
			height: calc( 100% * .8);
		}
	}
	&--format-1-1{
		width: 100%;
		height: 100%;

		@media (orientation: landscape) {
			width: 100%;
			height: 100%;
		}
	}
}

.rule{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: inline-block;
	margin: 0 auto;
	color: $color_text;
	font-weight: 700;

	label{
		background: $color_bg;
		margin: 0 5px;
		padding: 3px 6px;
	}

	img{
		opacity: 1;
		width: 100%;
		height: 100%;
	}
}


.clearfix{
	&:after{
		content: '';
		display: table;
		clear: both;
	}
}

.left{
	float: left;
}
.right{
	float: right;
}

.btn{
	margin: 0;
	padding: 5px;
	border: none;
	min-width: 20px;
	font-size: 10px;
	line-height: 10px;
	font-weight: 700;
	outline: none;

	&--accent{
		background:$color_brand;
		color: #222;
	}
	&--ui{
		background: lighten($color_bg,20%);
		color: $color_text;
	}
}

.hello{

	//position: relative;
	padding: 20px 40px;
	color: $color_text;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	//background: $color_bg;

	&__img{
		position: absolute;
		z-index: 0;
		top: 100px;
		left: 0;
		width: 100vw;
		//height: 75vh;
		opacity: .5;
	}

	h1{
		width: 100px;
		margin: 0 0 50px 0;
		font-size: 30px;
		line-height: 36px;
	}
	p{
		margin: 14px 0 0 0;
		padding: 0 0 14px 0;
		max-width: 350px;
		font-size: 11px;
		line-height: 18px;
		border-bottom: 1px dashed ligthen( $color_bg, 10%);

		&:last-of-type{
			border-bottom: none;
		}
	}
	.gray{
		color: darken($color_text,50%);
	}
	label{
		//padding: 2px 2px;
		color: lighten($color_brand,25%);
		font-weight: 700;
	}
}


.upload-btn-wrapper {
	position: relative;
	overflow: hidden;
	display: inline-block;

	&[data-loading="true"]{
		animation: 1s spin infinite;
	}
  }
  
  .upload-btn-wrapper input[type=file] {
	font-size: 100px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
  }





  @keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}